
#logo{
    background-color: black;
    text-align: center;
    font-size: xx-large;
    font-family: Inter,X-LocaleSpecific,sans-serif;
    
}

nav {
    background-color: white;
    margin-left:10px;
    overflow:hidden;
    position:sticky;
    
}

nav ul{
    margin-left: 50px;
    padding-left: 20px;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a{
    color: black;
    font-size:large;
    font-family: Inter,X-LocaleSpecific,sans-serif;
    background-color: white;
    display:block;
    line-height:20px;
    padding:0.5em 1.5em;
    text-decoration:none;
}
#logoLink{
    color: white;
    text-decoration:none;
    
}
#container{
    max-width:1200px;
    margin-left: 50px;
    padding-left: 20px;

}
.heading{
    font-family: Metropolis,Inter,X-LocaleSpecific,sans-serif;
    font-size: 2rem;
}
.introduction{
    display:flex;
}
.introductionObject{
    flex:50%;
    padding:5px;
}

#downloadButton{
    background-color: #0060df;
    color:white;
    width:150px;
    height: 50px;
}
#midsection{
    display:flex;
}
.midSectionContent{
    flex:50%;
    padding:5px; 
}